button {
  outline: none !important;
  border: none;
  background: 0 0;
}

.btn-volver {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  color: white;
  font-size: 3em;
}

a {
  text-decoration: none;
}
